* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  background-color: rgb(53,53,54);
  font-size: 12px;
  color: rgba(234,237,234,255);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
