h1, h3 {
  text-align: center;
}

li {
  display: inline-block;
}

ul:first-child {
  width: 605px;
  padding: 0;
  margin: 0 auto;
}
.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;
  margin-left: 202px;
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
}
